<?xml version="1.0"?>

<!-- RBVogui v3.0 -->
<robot name="rbvogui" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ******* -->
  <!-- Imported elements -->
  <!-- ******* -->

  <xacro:include filename="$(find rbvogui_description)/urdf/bases/rbvogui_base.urdf.xacro" />
  <xacro:include filename="$(find rbvogui_description)/urdf/wheels/motor_wheel.urdf.xacro" />
  <xacro:include filename="$(find rbvogui_description)/urdf/wheels/fixed_wheel.urdf.xacro" />
  <xacro:include filename="$(find rbvogui_description)/urdf/camera/camera.urdf.xacro" />
  <xacro:include filename="$(find rbvogui_description)/urdf/structures/gps_mast.urdf.xacro" />
    <xacro:include filename="$(find rbvogui_description)/robots/lidar_gazebo_macro.xacro"/>   
  <!-- Include UR-5 ARM -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro" />

  <xacro:property name="arm_position_x" value="0.0"/>
  <xacro:property name="arm_position_y" value="0"/>
  <xacro:property name="arm_position_z" value="0.23"/>
  <xacro:property name="arm_orientation_r" value="0"/>
  <xacro:property name="arm_orientation_p" value="0"/>
  <xacro:property name="arm_orientation_y" value="0"/>
     
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="deg2rad" value="0.01745329251"/>

  <xacro:property name="wheel_offset_x" value="0.368" />
  <xacro:property name="wheel_offset_y" value="0.235" />
  <xacro:property name="wheel_offset_z" value="0.0" />

  <xacro:property name="hq" value="true" />
  <xacro:property name="publish_bf" value="true" />
  <xacro:property name="tf_prefix" value=""/>


  <xacro:arg name="prefix" default="robot_" />
  <xacro:arg name="gpu" default="true" />
  <xacro:arg name="kinematics" default="ackermann" />
  <xacro:arg name="load_kinematics_file" default="false" />
  <xacro:arg name="launch_arm" default="false" />
  <xacro:arg name="arm_manufacturer" default="none" />
  <xacro:arg name="arm_model" default="none" />
  <xacro:arg name="launch_gripper" default="false" />
  <xacro:arg name="gripper_manufacturer" default="none" />
  <xacro:arg name="gripper_model" default="none" />
  <xacro:arg name="launch_lift" default="false" />
  <xacro:arg name="lift_manufacturer" default="none" />
  <xacro:arg name="lift_model" default="none" />

  <xacro:macro name="rbvogui" params="prefix publish_bf hq kinematics launch_arm arm_manufacturer arm_model load_kinematics_file
                                      launch_gripper gripper_manufacturer gripper_model launch_lift lift_manufacturer lift_model gpu ">

    <xacro:rbvogui_base prefix="${prefix}" publish_bf="${publish_bf}" hq="${hq}"/>

    <xacro:motor_wheel prefix="${prefix}front_right_" parent="${prefix}base_link" reflect="false" hq="true">
      <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:motor_wheel>

    <xacro:motor_wheel prefix="${prefix}front_left_" parent="${prefix}base_link" reflect="true" hq="true">
      <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:motor_wheel>

    
    <xacro:fixed_wheel prefix="${prefix}back_left_" parent="${prefix}base_link" reflect="true" hq="true">
      <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:fixed_wheel>

    <xacro:fixed_wheel prefix="${prefix}back_right_" parent="${prefix}base_link" reflect="false" hq="true">
      <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
    </xacro:fixed_wheel>  
    
    <!-- UR-5 ARM -->
        
    <xacro:if value="${load_kinematics_file}">
        <xacro:ur_robot name="ur5" tf_prefix="${tf_prefix}arm_" parent="${prefix}chassis_link"
            kinematics_parameters_file="$(find ur_description)/config/ur5/default_kinematics.yaml"
            joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
            physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml" 
            visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml" >
            <origin xyz="${arm_position_x} ${arm_position_y} ${arm_position_z}"  rpy="${arm_orientation_r} ${arm_orientation_p} ${arm_orientation_y}"/>
        </xacro:ur_robot>

    </xacro:if>

    <xacro:unless value="${load_kinematics_file}">
        <xacro:ur_robot name="ur5" tf_prefix="${tf_prefix}arm_" parent="${prefix}chassis_link" 
            kinematics_parameters_file="$(find ur_description)/config/ur5/default_kinematics.yaml"
            joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
            physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml" 
            visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml" >
            <origin xyz="${arm_position_x} ${arm_position_y} ${arm_position_z}"  rpy="${arm_orientation_r} ${arm_orientation_p} ${arm_orientation_y}"/>
        </xacro:ur_robot>

    </xacro:unless>    
    
    <!-- Camera -->
    <xacro:sensor_camera prefix="${prefix}" parent="${tf_prefix}arm_tool0">
      <origin xyz="0.0 0.0 0.0" rpy="3.14 -1.57 1.57"/>
    </xacro:sensor_camera>
    
    <xacro:lidar_gazebo_sensor parent="${prefix}base_link"/>

  </xacro:macro>


  <xacro:rbvogui prefix="$(arg prefix)" kinematics="$(arg kinematics)" load_kinematics_file="$(arg load_kinematics_file)" gpu="$(arg gpu)"
                 publish_bf="${publish_bf}" hq="${hq}"
                 launch_arm="$(arg launch_arm)" arm_manufacturer="$(arg arm_manufacturer)" arm_model="$(arg arm_model)"
                 launch_gripper="$(arg launch_gripper)" gripper_manufacturer="$(arg gripper_manufacturer)" gripper_model="$(arg gripper_model)"
                 launch_lift="$(arg launch_lift)" lift_manufacturer="$(arg lift_manufacturer)" lift_model="$(arg lift_model)" />

  <gazebo> 
    <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
      <parameters>$(find rbvogui_description)/config/robot_ackermann_control.yaml</parameters>
      <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
    </plugin>
  </gazebo>
 
  <ros2_control name="IgnitionSystem" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>

  <!-- Giunti sterzanti -->
    <joint name="robot_front_left_motor_wheel_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>
    <joint name="robot_front_right_motor_wheel_joint">
      <command_interface name="position"/>
      <state_interface name="position"/>
    </joint>

  <!-- Giunti trattivi -->
    <joint name="robot_back_left_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="robot_back_right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
             
    
  </ros2_control>
 
  <ros2_control name="ur5" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>

    <joint name="arm_shoulder_pan_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="arm_shoulder_lift_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="arm_elbow_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="arm_wrist_1_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="arm_wrist_2_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>             
    <joint name="arm_wrist_3_joint">
      <command_interface name="position"/>
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>    
  </ros2_control>  
 


</robot>
